specVersion: 0.0.4
description: >-
  GenTk/Issuer subgraph
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: FxhashFactory
    network: {{network}}
    source:
      address: "'{{factory.address}}'"
      abi: FxHashFactory
      startBlock: {{token.startBlock}}
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.6
      language: wasm/assemblyscript
      file: ./src/mappings/fxhashFactory.ts
      entities:
        - Directory
      abis:
        - name: FxHashFactory
          file: ./abis/FxHashFactory.json
      eventHandlers:
        - event: FxHashProjectCreated(indexed address,indexed address,indexed address,address)
          handler: handleNewProject
templates:
  - name: GenTk
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: GenTk
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.6
      language: wasm/assemblyscript
      file: ./src/mappings/gentk.ts
      entities:
        - GenTk
      abis:
        - name: GenTk
          file: ./abis/GenTk.json
      eventHandlers:
        - event: TokenMinted((uint256,address,uint256,bytes,string))
          handler: handleTokenMinted
        - event: TokenMetadataAssigned((uint256,string)[])
          handler: handleTokenMetadataAssigned
        - event: OnChainTokenMetadataAssigned((uint256,bytes)[])
          handler: handleOnChainTokenMetadataAssigned
        - event: Transfer(indexed address,indexed address,indexed uint256)
          handler: handleTransfer
  - name: Issuer
    kind: ethereum/contract
    network: {{network}}
    source:
      abi: Issuer
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.6
      language: wasm/assemblyscript
      file: ./src/mappings/issuer.ts
      entities:
        - Issuer
      abis:
        - name: Issuer
          file: ./abis/Issuer.json
